.jobs {
  width: 100%;
  font-family: "Poppins", sans-serif;
  padding-top: 30px;
  background-color: #FFFFFF;
}
.jobs h2 {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 40px;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 50px;
}
.jobs h2::after {
  content: "";
  display: block;
  width: 120px;
  height: 4px;
  background-color: #d40e8c;
  margin: auto;
  margin-top: 20px;
}
.jobs .jobs-wrap {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 70px;
       column-gap: 70px;
  padding: 30px;
  max-width: 1200px;
}
.jobs .jobs-wrap .item h1 {
  font-size: 35px;
  margin-bottom: 20px;
}
.jobs .jobs-wrap .item h4 {
  font-size: 16px;
}
.jobs .jobs-wrap .item button {
  height: 40px;
  width: 200px;
  padding: 10px;
  color: #FFFFFF;
  background-color: #d40e8c;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  margin-top: 20px;
}
.jobs .jobs-wrap .item button:hover {
  background-color: #39b54a;
  border: 1px solid #FFFFFF;
}

@media screen and (max-width: 1200px) {
  .jobs h2 {
    margin-bottom: 10px;
  }
  .jobs .jobs-wrap {
    flex-direction: column;
    row-gap: 100px;
  }
}
@media screen and (max-width: 991px) {
  .jobs .jobs-wrap {
    padding-left: 30px;
    padding-right: 30px;
  }
}