@import "variable";
@import "mixin";



.jobs{
    width: 100%;
    font-family: $font-family-sans-serif;
    padding-top: 30px;
    background-color: $light;
    h2{
        @include title;
    }
    .jobs-wrap{
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 70px;
        padding: 30px;
        max-width: 1200px;
        .item{
            h1{
                font-size: 35px;
                margin-bottom: 20px;
            }
            h4{
                font-size: 16px;
            }
            button{
                @include button;
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .jobs{
        h2{
            margin-bottom: 10px;
        }
        .jobs-wrap{
            flex-direction: column;
            row-gap: 100px;
        }
    }
    
}
@media screen and (max-width:991px) {
    .jobs{
        .jobs-wrap{
           padding-left: 30px;
           padding-right: 30px;
        }
    }
    
}