@import "variable";
@import "mixin";



.menu {
    width: 100%;
    font-family: $font-family-sans-serif;
    padding-top: 30px;
    background-color: $light;
    margin-top: -80px;
    padding-top: 100px;

    h2 {
        @include title;
    }

    .menu-wrap {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 30px;
        max-width: 1200px;
        row-gap: 100px;

        .item {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media screen and (max-width:850px) {
    .menu {
        .menu-wrap {
            row-gap: 50px;
        }
    }

}

@media screen and (max-width:500px) {
    .menu {
        .menu-wrap {
            row-gap: 50px;
            padding-top: 0;
        }
    }

}