@import "variable";
@import "mixin";


.category-item{
    text-transform: uppercase;
}
.category {
    width: 100%;
    font-family: $font-family-sans-serif;
    background-color: $light;
    margin-top: -80px;
    padding-top: 100px;

    h2 {
        @include title;
    }
    .upgrade{
        text-align: center;
        color: $third;
        margin-top: -40px;
        margin-bottom: 70px;
        font-weight: 400;
        font-size: 18px;
    }
    .category-wrap {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 30px;
        max-width: 1200px;
        row-gap: 100px;
        .category-wrap-item-top {
            display: grid;
            grid-template-columns: auto auto;
            row-gap: 60px;
            column-gap: 100px;
            .item{
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                img{
                    width: 300px;
                    height: 200px;
                    margin-top: -48px;
                    margin-left: -40px;
                }
                div{
                    text-align: left;
                    flex: 1;
                    h3{
                        font-size: 20px;
                        text-transform: capitalize;
                    }
                    h5{
                        color: $primary;
                        margin-top: 12px;
                        font-size: 19px;
                    }
                    p{
                        font-style: italic;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1150px) {
    .category{
        .category-wrap{
           .category-wrap-item-top{
            column-gap: 50px;
           }
        }
    }
}
@media screen and (max-width:991px) {
    .category{
        .category-wrap{
           .category-wrap-item-top{
            width: 100%;
            grid-template-columns: auto;
            row-gap: 50px;
           }
        }
    }
}
@media screen and (max-width:500px) {
    .category{
        .category-wrap{
           .category-wrap-item-top{
               .item{
                img{
                    width: 220px;
                    height: 150px;
                    margin-top: -30px;
                }
                div{
                    h3{
                        font-size: 18px;
                    }
                    h5{
                        font-size: 17px;
                    }
                    p{
                        font-size: 15px;
                    }
                }
               
               } 
           }
        }
    }
}
@media screen and (max-width:400px) {
    .category{
        .category-wrap{
           .category-wrap-item-top{
               .item{
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                row-gap: 20px;
                img{
                    width: 220px;
                    height: 150px;
                    margin: auto;
                    // margin-top: -30px;
                    // margin-left: -70px;
                }
                div{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
               } 
           }
        }
    }
}

